<% [:info, :error].each do |key| %>
 <% if flash[key] %>
 <div class="<%= key %>" id="flash">
   <%= flash[key] %>
 </div>
 <% end %>
<% end %>
<h3></h3>
<p>Find me in app/views/home/chart.html.erb</p>
