<% [:info, :error].each do |key| %>
 <% if flash[key] %>
 <div class="<%= key %>" id="flash">
   <%= flash[key] %>
 </div>
 <% end %>
<% end %>
<% if @project %>
  <h3>Statistics for project: <%= @project.name %></h3>
  <script type="text/javascript" src="/amcolumn/swfobject.js"></script>
  <div id="flashcontent">
    <strong>You need to upgrade your Flash Player</strong>
  </div>

  <script type="text/javascript">
    // <![CDATA[    
    var so = new SWFObject("/amcolumn/amcolumn.swf", "amcolumn", "900", "400", "8", "#FFFFFF");
    so.addVariable("path", "/amcolumn/");
    so.addVariable("settings_file", encodeURIComponent("/amcolumn/amcolumn_settings.xml"));
    so.addVariable("chart_data", encodeURIComponent("<%= @issue_tracking.open_tickets_count_as_csv_for(@project.name)%>"));
    so.write("flashcontent");
    // ]]>
  </script>
<% end %>
